body{

background-image: url(../html_conversion/images/git.jpg);
}

.myclass-1{
    color:white;
    font-size: xx-large;
    font-style:normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-image: url(../html_conversion/images/lap.jpg);
    background-position: center;

}
button:hover{
    background-color:rgba(0, 0, 255, 0.45);
    border: none;
}
input{
    font-size: xx-large;
    border: none;
    border-radius: 100px;
}



                            /* i phone 12 pro */
@media(max-width:767px){
    .myclass-1{
        font-size: small;
    }
    .search_1{
        font-size:medium;
    }
    
}




@media(min-width:768){

    
    .myclass-1{
        color:white;
        font-size: xx-large;
        font-style:normal;
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
        background-image: url(../html_conversion/images/lap.jpg);
        background-position: center;
    
    }
    button:hover{
        background-color:rgba(0, 0, 255, 0.45);
       
        border: none;
    }
    input{
        font-size: xx-large;
        border: none;
        border-radius: 100px;
    }
}