body{
    background-color: blueviolet;
}
.container_css2  > a{
    padding: 50px;
    font-size: xx-large;
}



@media(max-width:767px){


    .container_css1{
      
      text-align: center;
      
    }

    .container_css2 > a{
            
        margin-top: 20px;
        padding: 50px;
        font-size: medium;

        
    }
}

                                    /* tab i pad air */
@media (min-width:768px) and (max-width:991px){
    .container_css2{
       display: flex;
    }
}

                            /* laptop */

@media(min-width:768px){
    body{
    background-color: blueviolet;
}
.container_css2  > a{
    padding: 50px;
    font-size: xx-large;
}

}                            