body{
background-color: rgba(27, 84, 255, 0.96);
}

.myclass-3{
    color: white;
    font-size: xx-large;
    font-size:xx-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    
    
}
button:hover{
    background-color:black;
    color: white;
    border: none;
    
    
}
input{
    font-size: xx-large;
    border: none;
}
